.footer 
	background $footer-bg
	margin-top 0
	padding 0 2.9rem
	line-height 3.5rem
	position absolute 
	bottom 0 
	width 100%
	height 5rem
	font-size 1.3rem
	p 
		color $text-color
	a
		color $text-color
		display block
		width 100%
		height 40px
.footer-index
	background $footer-bg
	margin-top 1rem
	padding 0 2.9rem
	line-height 4.5rem
	position absolute 
	width 100%
	height 55px
	font-size 1.3rem
	bottom 0
	p 
		color $text-color 
		line-height 2.2 
		margin-bottom 0 
		padding-top 1rem
	a
		color $text-color
		display block
		width 100%
		height 40px
		&:hover 
			color $text-color
		
	.brand-footer
		position relative
		top 0
		
.footer-message:before
	content "" 
	width 100%
	left 0
	bottom 5rem
	height 5rem
	background url("../images/message-restroom.png")
	background-size cover
	position absolute

		
@media screen and (min-width 220px) and (max-width 349px)
	.footer-index 
		bottom 0
		height 63px
		line-height 2.5rem
		.brand-footer 
			margin 1rem auto 0 auto
			width 56%
		a 
			height 26px 
		.col-md-3 
			height 2rem
	.footer-reserved
		display inline-block 
		vertical-align middle 
		width 32%
		margin 0 
		padding 0 
		font-size 1rem 
		
@media screen and (min-width 350px) and (max-width 479px)
	.footer-index 
		bottom 0
		height 63px
		line-height 2.5rem
		.brand-footer 
			margin 1rem auto 0 auto
			width 56%
		a 
			height 26px 
		.col-md-3 
			height 2rem
	.footer-reserved
		display inline-block 
		vertical-align middle 
		width 32%
		margin 0 
		padding 0 
		font-size 1rem 

			
@media screen and (min-width 480px) and (max-width 639px)
	.footer-index 
		bottom 0
		height 63px
		line-height 2.5rem
		.brand-footer 
			margin -1rem auto 0 auto
			width 56%
			height 73px
		a 
			height 26px 
		.col-md-3 
			height 2rem
	.footer-reserved
		display inline-block 
		vertical-align middle 
		width 32%
		margin 0 
		padding 0 
		font-size 1rem 
	.carousel-indicators 
		bottom 16rem
			
@media screen and (min-width 640px) and (max-width 767px)
	.footer-index 
		bottom 0
		height 63px
		line-height 2.5rem
		.brand-footer 
			margin -1rem auto 0 auto
			width 56%
			height 73px
		a 
			height 26px 
		.col-md-3 
			height 2rem
	.footer-reserved
		display inline-block 
		vertical-align middle 
		width 32%
		margin 0 
		padding 0 
		font-size 1rem 
	.carousel-indicators 
		bottom 16rem
			





