requirfigcaption
	font-weight bold

.eztrap-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.eztrap-container
	background url('../images/trap-02.jpg') no-repeat
	background-size 100%
	background-position 0 -80px
	position relative
	with 100%
	height 62rem
	
.eztrap-features
	position relative
	background rgba(34,31,31,.3)
	/*background rgb(204,204,51)*/
	background-size 100% 100%
	top 64rem
	width 900px
	padding .6rem 0 0 0 
	.eztrap-p 
		line-height 15px
		font-size 1.5rem
	
.eztrap-legend
	position relative
	top 67rem
	width 900px
	padding .6rem 0 0 0 
	.col-ez-items-left, .col-ez-items-right 
		display inline-block 
		vertical-align middle 
		width 45%
	.col-ez-items-left
		width 45%
		text-align left
		h3 
			margin-top -.3rem
			font-weight bold
	.col-ez-items-right 
		border-left 2px solid #444
		text-indent 1rem


.col-ez-left h3 
	width 20%
	margin 0 auto 
	text-transform uppercase
	background black
	color $font-active-color
	padding 1rem 
	margin-bottom 3rem 

.eztrap-main-features
	border-top 2px solid #444
	border-bottom 2px solid #444
	top 6rem
	position relative
	padding 1rem 0
.eztrap-features-strong
	position relative
	background rgba(34,31,31,.3)
	background-size 100% 100%
	top 3rem
	width 900px
	padding .6rem 0 0 0 
	.eztrap-y 
		line-height 15px
		font-size 1.5rem

.eztrap-features-container
	background url('../images/power-bg.jpg')
	background-size 100% 101%
	background-position 0 -2px
	position relative
	with 100%
	height 320rem
	top 0

.eztrap-z
	font-size 1.5rem
	font-weight bold

.eztrap-features-fluid,
.eztrap-plumbing-fluid
	height 234px 
	width 100%
	position relative
	top 46em
	padding 2rem 0
	
.container-ez 
	margin 0 auto
	width 900px
	height auto
	pading 1rem 0
	
.eztrap-benefits,
.eztrap-benefits-message
	position relative
	background rgba(34,31,31,.3)
	/*background rgb(204,204,51)*/
	background-size 100% 100%
	top 77rem
	width 900px
	padding .6rem 0 0 0 

.eztrap-benefits-message
	top 104rem
	h3 
		margin-top -1rem
	
.eztrap-benefits-list 
	list-style none
	
.eztrap-benefits-p-container
	border-left 2px solid #444
	padding 2rem 0
	.eztrap-benefits-p
		line-height 17px

.eztrap-features-requirements
	position relative
	background rgb(204,204,51)
	background-size 100% 100%
	top 80rem
	width 900px
	padding 0 0 1rem 0

.eztrap-requirements-title h3
	font-size 2.5rem
	font-weight bold
	
.eztrap-iso
	position relative 
	top 85rem
	line-height 15px

.ez-basic-info
	position relative
	top 10rem
	h4
		background black
		color rgb(204,204,51)
		font-weight bold
		padding 1rem 0

.container.eztrap-basic-info 
	position relative
	top 88rem

.eztrap-info-articles 
	position relative 
	top 93rem
	padding 2rem 0
	background rgba(255,255,255,0.4)

.row-ez 
	margin-left -15px
	margin-right -15px

.ez-info-left,
.ez-info-right 
	padding .9rem 0
	color rgb(204,204,51)
	font-size 2.5rem
	font-weight bold
	width 424px
	
.ez-info-right 
	background rgb(0,0,0)
	padding-left 15px
	margin-left 1rem 

.ez-info-left 
	background rgb(0,0,0)
	padding-right 15px
	margin-left -3rem

.ez-clean-it
	font-size 1.5rem
	p 
		margin 0

.ez-maintain-it
	font-size 1.5rem
	p 
		margin 0

.eztrap-plumbing-fluid
	top 99rem
	height 245px

.eztrap-benefits-buy
	position relative 	
	top 110rem
	padding 1rem 0
	background rgba(255,255,255,0.4)
	.eztrap-buy-container
		margin-top 2.5rem
		line-height 14px
		h5 
			font-weight bold
		p 
			font-size 1.5rem
		.eztrap-buy-btn 
			background black
			color white
			text-transform uppercase
			font-size 1.4rem
			padding 1rem 1.3rem
			display block 
			margin 1rem auto 0 auto 
			width 20%
			border-bottom 4px solid rgb(204,204,51)
			&:hover 
				background lighten(black, 20%)
	.eztrap-buy-logo 
		img
			margin-top 5rem
			display block

.footer-eztrap
	background: #000;
	margin-top: 0;
	padding: 0 2.9rem;
	line-height: 4.5rem;
	position: absolute;
	width: 100%;
	height: auto;
	font-size: 1.3rem;
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
	.brand-footer
		position relative
		top -2.5rem


.eztrap-waterless
	display block 
	margin 0 auto
	position relative 
	top 115rem

.eztrap-features
	background rgb(204,204,51)
	
.eztrap-videos-container 
	position relative
	top 62rem 
	z-index 2

.eztrap-patent-container 
	background rgba(255,255,255,.4)
	height 28rem 
	width 100% 
	position relative 
	top 73rem 
	z-index 3

.ez-subtitle-product, .ez-subtitle-demo 
	font-style italic 
	font-weight bold
//Generic styles for Netbook 10"
@media screen and (min-width 200px) and (max-width 480px)
	.eztrap-container 
		background-position 50% 0
		background-size 130%
		height 19rem
		top 3rem
		
	.eztrap-videos-container
		width 100% !important 
		top 21rem 
	.fluid-container.eztrap-patent-container 
		width 100%
		top 22rem 
		height 37rem
	.eztrap-features-strong, .eztrap-main-features
		width 100%
	.eztrap-features-fluid, .eztrap-plumbing-fluid
		top 22rem 
	.eztrap-plumbing-fluid
		top 20rem 
	.ez-content-img
		width 32% 
		margin 0
		padding 0
		display inline-block 
		vertical-align middle
	.eztrap-benefits, .eztrap-benefits-message 
		top 11rem 
		width 100%
		
	.eztrap-benefits-list 
		margin-left 0
		padding-left 0
	
	.eztrap-features-requirements 
		width 100% 
		top 14rem 
	
	.eztrap-iso 
		width 100% 
		top 16rem 
		
	.container.eztrap-basic-info 
		width 100% 
		top 16rem 
	
	.ez-info-left, .ez-info-right 
		margin 1rem 0
		width 100%
		
	.eztrap-info-articles 
		top 18rem 
		width 100%
		
	.eztrap-info-a 
		width 100%
		
	.ez-img-plumbing
		width 32%
		display inline-block 
		vertical-align middle 
		padding 0
		margin 0
	.eztrap-benefits-buy
		width 100% 
		top 14rem 
		.img-responsive 
			margin 0 auto 
	
	.eztrap-benefits-buy .eztrap-buy-logo img 
		margin 4rem auto
		
	.c-ez
		width 100%
	
	.eztrap-waterless 
		top 18rem 
		
	.ez-f 
		height 76px

@media screen and (min-width 481px) and (max-width 700px)
	.eztrap-container 
		background-position 50% 17%
		background-size 100%
		height 34rem
		top 3rem
		
	.eztrap-videos-container
		width 100% !important 
		top 33rem 
	.fluid-container.eztrap-patent-container 
		width 100%
		top 35rem 
		height 29rem
	.eztrap-features-strong, .eztrap-main-features
		width 100%
	.eztrap-features-fluid, .eztrap-plumbing-fluid
		top 36rem 
	.eztrap-plumbing-fluid
		top 41rem 
	.ez-content-img
		width 32% 
		margin 0
		padding 0
		display inline-block 
		vertical-align middle
	.eztrap-benefits, .eztrap-benefits-message 
		top 34rem 
		width 100%
		
	.eztrap-benefits-message 
		top 41rem
	.eztrap-benefits-list 
		margin-left 0
		padding-left 0
	
	.eztrap-features-requirements 
		width 100% 
		top 36rem 
	
	.eztrap-iso 
		width 100% 
		top 38rem 
		
	.container.eztrap-basic-info 
		width 100% 
		top 38rem 
	
	.ez-info-left, .ez-info-right 
		margin 1rem 0
		width 100%
		
	.eztrap-info-articles 
		top 40rem 
		width 100%
		
	.eztrap-info-a 
		width 100%
		
	.ez-img-plumbing
		width 32%
		display inline-block 
		vertical-align middle 
		padding 0
		margin 0
	.eztrap-benefits-buy
		width 100% 
		top 46rem 
		.img-responsive 
			margin 0 auto 
	
	.eztrap-benefits-buy .eztrap-buy-logo img 
		margin 4rem auto
		
	.c-ez
		width 100%
	
	.eztrap-waterless 
		top 49rem 
		
	.ez-f 
		height 76px
		
	.eztrap-features-container 
		height 328rem
@media screen and (min-width 1024px) and (min-height 600px)
	.eztrap-container 
		background-size 100%
		background-position 50% 14%
		height 67rem
		
	.eztrap-videos-container
		top 62rem
		
	.eztrap-patent-container
		top 63rem
		
	.eztrap-features-fluid, .eztrap-plumbing-fluid
		top 64rem
		
	.eztrap-benefits, .eztrap-benefits-message
		top 65rem
	
	.eztrap-features-requirements
		top 68rem 
		
	.eztrap-iso
		top 70rem 
	
	.container.eztrap-basic-info 
		top 71rem 
		
	.eztrap-info-articles 
		top 73rem 
		
	.eztrap-plumbing-fluid 
		top 74rem !important
		
	.eztrap-benefits-message
		top 75rem

	.eztrap-benefits-buy
		top 78rem
		
	.eztrap-waterless
		top 82rem 
	.eztrap-features-container
		height 277rem
//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 768px)
	.eztrap-container 
		background-size 100%
		background-position 0 1px


























