
.news-menu
	width 27rem
	height 13rem
	position absolute
	top 69% !important
	left 5rem !important
	.btn-latest-news, 
	.btn-antisplash
		display inline-block
		width 49%
		height 100%
	.btn-latest-news
		background url('../images/btn-nws.png') no-repeat
		background-position 0 -6px
		background-size 262px
	.btn-antisplash
		background url('../images/btn-nws.png') no-repeat
		background-position -130px -6px
		background-size 262px

.menuProducts-container
	background url('../images/menuProducts-container.png') no-repeat
	background-position -8px 0
	background-size 125%
	position absolute
	width 267px
	height 290px
	top 38rem
	right 12.4rem
	z-index 4
	&:after 
		content ""
		height 48px	
		width 206px
		position absolute
		border-radius 50%
		left 5.5rem 
		top 25rem
		filterBlur blur(5px)
		transform rotateX(54deg)
		background rgba(0,0,0,0.13)
		z-index 2

.menuProducts
	top 29rem
	
.nav-products
	list-style none
	width 214px
	position relative
	top 8rem
	left 1.5rem
	.item-product 
		height 46px 
		width 100% 
		&:first-child 
			width 100%
			.item-logo 
				display block 
				width 100%
				height 46px
				background url('../images/power-logo-s.png'), url('../images/sprite-products.png')
				background-size 85%, 49%
				background-repeat no-repeat, no-repeat
				background-position -4px -6px, 103px -13px
			.item-buy 
				item-buy()
				top -3.29rem
				left 16.18rem
		&:nth-child(2)
			width 100%
			.item-logo
				display block 
				width 100%
				height 46px
				background url('../images/ekcos-logo.svg'), url('../images/sprite-products.png')
				background-size 89%, 49%
				background-repeat no-repeat, no-repeat
				background-position -4px -6px, 101px -60px
			.item-buy 
				item-buy()
				top -3.16rem
				left 16.1rem 
				
		&:nth-child(3)
			width 100%
			.item-logo
				display block 
				width 100%
				height 46px
				background url('../images/trap-logo.svg'), url('../images/sprite-products.png')
				background-size 89%, 49%
				background-repeat no-repeat, no-repeat
				background-position 7px -6px, 103px -106px
			.item-buy 
				item-buy()
				top -3.19rem
				left 16.29rem
		&:last-child
			width 100%
			.item-logo
				display block 
				width 100%
				height 46px
				background url('../images/fresh-logo.svg'), url('../images/sprite-products.png')
				background-size 77%, 49%
				background-repeat no-repeat, no-repeat
				background-position 13px -6px, 103px -150px
			.item-buy 
				item-buy()
				top -3.09rem
				left 16.29rem
			
.item-product-logo:hover 
	opacity 0.8


	
@media screen and (min-height 900px) and (min-width 1280px)
	.menuProducts-container
		top 29rem
	
	.news-menu
		top 40%
	
	.menuProducts-container 
		top 35rem !important


@media screen and (min-height 640px) and (min-width 960px) 
	.menuProducts 
		top 28rem !important 
		
//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 600px)
	.menuProducts-container
		top 22rem
	.news-menu
		top 40%
	.menuProducts-container 
		top 28rem !important


//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 768px)
	.menuProducts-container
		top 33rem
	.news-menu
		top 40%
	.menuProducts-container 
		top 35rem !important

//Generic styles for Netbook 10"
@media screen and (min-width 1200px) and (min-height 800px) 
	.menuProducts-container
		top 35rem !important
		
@media screen and (min-width 1200px) and (min-height 900px) 
	.menuProducts-container
		top 45rem !important

@media screen and (min-width: 1370px)
	.menuProducts-container
		top 45rem
	.news-menu
		top 40% 


@media screen and (min-width 1400px) and (min-height 800px )
	.menuProducts-container
		top 29rem
	.news-menu
		top 40%
		left 11rem
	.menuProducts-container 
		top 43rem !important

@media screen and (min-width 320px) and (max-width 479px)
	.page-wrapper 
		background red
		background-repeat no-repeat
		background-size cover
		background-position center top
	.navbar.navbar-default.navbar-fixed-top,
	.carousel-container,
	.footer 
		display block
	.menuProducts-container, .news-menu, .buynow-container, .menuProducts-container
		display none 
		

@media screen and (min-width 480px) and (max-width 1023px)
	.page-wrapper 
		background url('../images/mobile-background.jpg')
		background-repeat no-repeat
		background-size cover
		background-position center top
	.navbar.navbar-default.navbar-fixed-top,
	.carousel-container,
	.footer 
		display none
	.menuProducts-container, .news-menu, .buynow-container, .menuProducts-container
		display none 