.power-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.powerscreen-container
	background url('../images/bg-power-a.jpg')
	background-size cover
	position relative
	with 100%
	height 61rem
	background-position 0 70%

.powerscreen-features
	position relative
	background rgb(204,204,51)
	background-size 100% 100%
	top 40rem
	width 900px

.powerscreen-features-items
	padding-top 1rem
	font-size 1.5rem
	ul 
		list-style none

.powerscreen-antisplash
	height auto
	p 	
		background url('../images/day.png')
		background-size 100%
		background-repeat no-repeat 
		background-position 0
		display block 
		margin 1.5rem auto 1rem auto 
		height auto 
		font-size 2.4rem 
		color rgba(255,255,255,1)
		width 57%
	figcaption 
		margin-top -1rem
		font-style italic
		font-size 1.5rem
		padding-bottom 0.5rem

.powerscreen-advise
	width 900px
	background rgba(34,31,31,.3)
	position relative 
	top 43rem
	p 
		width 75%
		margin 0 auto
		padding 1rem 0

.container 
	width 900px
	
.powerscreen-features-container
	background url('../images/power-bg.jpg')
	background-size 100% 101%
	background-position 0 -2px
	position relative
	with 100%
	height 198rem
.powerscreen-features-item
	margin-top 1rem
	figcaption 
		font-style italic 
		font-weight bold
		letter-spacing -0.1rem

.powerscreen-features-legend
	width 900px
	background rgba(34,31,31,.3)
	margin-top 2rem
	padding-top 1.2rem
	padding-bottom 0.3rem
	p
		line-height 1

.powerscreen-features-title, .powerscreen-module-title, .ekcos-module-title
	background rgb(204,204,51)
	margin-top 3rem
	h3 
		font-size 2em
		font-weight bold
		
.powerscreen-module-title
	margin-top: 33rem;
	margin-bottom: -26rem;
	text-align: center;
	padding-top: 1rem;
	
.ekcos-module-title 
	margin-top: 3rem;
	margin-bottom: 0rem;
	text-align: center;
	padding-top: 1rem;
.powerscreen-features-list
	width 900px
	position relative
	background-size 100%
	margin-top 4rem
	.features-list-l
		list-style none
		li 
			margin .3rem 0
			&:first-child
				width 93%
	.features-list-r
		list-style none

hr 
	border-top 2px solid #444

.bio-container
	/*background url('../images/bio-bg.png') no-repeat*/
	background-size 100%
	background-position -129px 0
	width 100%
	height 326px 
	position absolute
	top 125rem
	z-index 1
	.bio-img 
		/*background url('../images/bio-bg.png') no-repeat*/
		background-size 100%
		background-position -129px 0
		width 100%
		height 326px 
		position absolute
		top 0
		left -113px
		z-index 1
.hidden-img-r, .hidden-img-l 
	position absolute 
	right 5rem
	height auto 
	width 23%

.hidden-img-l
	left 4rem
	top 24rem
	width 35%
	display none
	
.hidden-img-r
	right 18rem
	top -1rem
	width 47%
	display none
.overlayr
	width 42% 
	top 5rem 
	height 78% 
	position absolute
	right 0 
	z-index 10

.overlayl 
	width 57% 
	top 5rem 
	height 78% 
	position absolute
	left 0 
	z-index 12

.bio-line 
	position relative
	top 158rem
	border-top 2px solid #444
	margin 0 auto
	width 69%

.power-products-container
	margin-top 30rem
	height 792px
	position relative
	padding 2rem 0
	background rgba(255,255,255,.35)

.thumbnail 
	border 0
	background transparent
	margin-bottom 0 !important
	.product-title
		font-size 1.5rem
		font-weight bold
	.product-description 
		font-size 1.2rem
		line-height 2px
	.btn-product-buy 
		border-radius 0
		background black
		border 0
		border-bottom 4px solid rgb(204,204,51)
		text-transform uppercase
		padding .3rem 3.5rem
		font-size 1.5rem
		&:hover 
			background lighten(rgb(0,0,0,0), 20%)


.footer-power
	background $footer-bg
	margin-top 1rem
	padding 0 2.9rem
	line-height 4.5rem
	position absolute 
	width 100%
	height 55px
	font-size 1.3rem
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
		&:hover 
			color $text-color-light 
		
	.brand-footer
		position relative
		top -2.5rem
.power-subtitle-demo, .power-subtitle-product
	font-style italic
	font-weight bold
	display block 
	margin 0 auto
	background transparent
	border 0
	
.thumblnail-power 
	img 
		height auto
		width 83%
		margin 1rem auto -3rem auto
		display block 
	
.without-padding 
	padding 0 !important
@media screen and (min-width 200px) and (max-width 380px) and (min-height 480px)
	.powerscreen-container 
		background-size 240%
		background-position 50% 0
		background-repeat no-repeat
	
	.powerscreen-features
		width 100% !important 
	
	.powerscreen-antisplash img 
		display block 
		width 100% 
		margin 0 auto 
	
	.powerscreen-features-items ul
		padding 0
	.powerscreen-advise, .powerscreen-features-items,
	.powerscreen-features-legend, .powerscreen-features-title
		width 100% !important
		padding 0 !important
	.powerscreen-features-legend
		padding 1rem !important
	.bio-container, .bio-line
		display none 
	.powerscreen-features-list
		width 100%
	
	.powerscreen-features-list .features-list-l
		padding 0
	
	.powerscreen-features-list li:first-child 
		width 100% !important
		
	.powerscreen-features-list .features-list-r 
		padding 0
		margin 0
	.power-products-container
		margin-top 0
		width 100% !important
		height 201rem !important 
	.thumblnail-power
		width 100% !important
	.powerscreen-features-container
		height 308rem

@media screen and (min-width 381px) and (max-width 539px) and (min-height 480px)
	.powerscreen-container 
		background-size 190%
		background-position 50% 0
		background-repeat no-repeat
	
	.powerscreen-features
		width 100% !important 
	
	.powerscreen-antisplash img 
		display block 
		width 100% 
		margin 0 auto 
	
	.powerscreen-features-items ul
		padding 0
	.powerscreen-advise, .powerscreen-features-items,
	.powerscreen-features-legend, .powerscreen-features-title
		width 100% !important
		padding 0 !important
	.powerscreen-features-legend
		padding 1rem !important
	.bio-container, .bio-line
		display none 
	.powerscreen-features-list
		width 100%
	
	.powerscreen-features-list .features-list-l
		padding 0
	
	.powerscreen-features-list li:first-child 
		width 100% !important
		
	.powerscreen-features-list .features-list-r 
		padding 0
		margin 0
	.power-products-container
		margin-top 0
		width 100% !important
		height 215rem !important 
	.thumblnail-power
		width 100% !important
	.powerscreen-features-container
		height 322rem
		
	.footer-pw 
		height 89px
@media screen and (min-width 381px) and (max-width 539px) and (min-height 800px)
	.powerscreen-features-container
		height 340rem !important
		
	.power-products-container 
		height 232rem !important 
@media screen and (min-width 540px) and (max-width 600px) and (min-height 480px)
	.powerscreen-container 
		background-size 160%
		background-position 50% 0
		background-repeat no-repeat
	
	.powerscreen-features
		width 100% !important 
	
	.powerscreen-antisplash img 
		display block 
		width 100% 
		margin 0 auto 
	
	.powerscreen-features-items ul
		padding 0
	.powerscreen-advise, .powerscreen-features-items,
	.powerscreen-features-legend, .powerscreen-features-title
		width 100% !important
		padding 0 !important
	.powerscreen-features-legend
		padding 1rem !important
	.bio-container, .bio-line
		display none 
	.powerscreen-features-list
		width 100%
	
	.powerscreen-features-list .features-list-l
		padding 0
	
	.powerscreen-features-list li:first-child 
		width 100% !important
		
	.powerscreen-features-list .features-list-r 
		padding 0
		margin 0
	.power-products-container
		margin-top 0
		width 100% !important
		height 246rem !important 
	.thumblnail-power
		width 100% !important
	.powerscreen-features-container
		height 350rem
		
	.footer-pw 
		height 89px

@media screen and (min-width 601px) and (max-width 719px) and (min-height 480px)
	.powerscreen-container 
		background-size 120%
		background-position 50% 0
		background-repeat no-repeat
	
	.powerscreen-features
		width 100% !important 
		top 37rem 
	
	.powerscreen-antisplash img 
		display block 
		width 100% 
		margin 0 auto 
	
	.powerscreen-features-items ul
		padding 0
	.powerscreen-advise, .powerscreen-features-items,
	.powerscreen-features-legend, .powerscreen-features-title
		width 100% !important
		padding 0 !important
	.powerscreen-features-legend
		padding 1rem !important
	.bio-container, .bio-line
		display none 
	.powerscreen-features-list
		width 100%
	
	.powerscreen-features-list .features-list-l
		padding 0
	
	.powerscreen-features-list li:first-child 
		width 100% !important
		
	.powerscreen-features-list .features-list-r 
		padding 0
		margin 0
	.power-products-container
		margin-top 0
		width 100% !important
		height 273rem !important 
	.thumblnail-power
		width 100% !important
	.powerscreen-features-container
		height 378rem
		padding-top 3rem 
		
@media screen and (min-width 720px) and (max-width 840px) and (min-height 480px)
	.powerscreen-container 
		background-size 120%
		background-position 50% 0
		background-repeat no-repeat
	
	.powerscreen-features
		width 100% !important 
		top 37rem 
	
	.powerscreen-antisplash img 
		display block 
		width 100% 
		margin 0 auto 
	
	.powerscreen-features-items ul
		padding 0
	.powerscreen-advise, .powerscreen-features-items,
	.powerscreen-features-legend, .powerscreen-features-title
		width 100% !important
		padding 0 !important
	.powerscreen-features-legend
		padding 1rem !important
	.bio-container, .bio-line
		display none 
	.powerscreen-features-list
		width 100%
	
	.powerscreen-features-list .features-list-l
		padding 0
	
	.powerscreen-features-list li:first-child 
		width 100% !important
		
	.powerscreen-features-list .features-list-r 
		padding 0
		margin 0
	.power-products-container
		margin-top 0
		width 100% !important
		height 293rem !important 
	.thumblnail-power
		width 100% !important
	.powerscreen-features-container
		height 395rem
		padding-top 3rem 
//Generic styles for Netbook 10"
@media screen and (min-width 841px) and (max-width 970px)
	.power-wrapper
		height auto
		width 100%
		position relative
		top 5rem

	.powerscreen-container
		background url('../images/bg-power-a.jpg')
		background-size cover
		position relative
		with 100%
		height 61rem
		background-position 0 70%

	.powerscreen-features
		position relative
		background rgb(204,204,51)
		background-size 100% 100%
		top 40rem
		width 900px

	.powerscreen-features-items
		padding-top 1rem
		font-size 1.5rem
		ul 
			list-style none

	.powerscreen-antisplash
		height auto
		img 
			margin-top -1rem
		figcaption 
			margin-top -1rem
			font-style italic
			font-size 1.5rem
			padding-bottom 0.5rem

	.powerscreen-advise
		width 900px
		background rgba(34,31,31,.3)
		position relative 
		top 43rem
		p 
			width 75%
			margin 0 auto
			padding 1rem 0

	.container 
		width 900px
		
	.powerscreen-features-container
		background url('../images/power-bg.jpg')
		background-size 100% 101%
		background-position 0 -2px
		position relative
		with 100%
		height 178rem
	.powerscreen-features-item
		margin-top 1rem
		figcaption 
			font-style italic 
			font-weight bold
			letter-spacing -0.1rem

	.powerscreen-features-legend
		width 900px
		background rgba(34,31,31,.3)
		margin-top 2rem
		padding-top 1.2rem
		padding-bottom 0.3rem
		p
			line-height 1

	.powerscreen-features-title
		background rgb(204,204,51)
		margin-top 3rem
		h3 
			font-size 2em
			font-weight bold
			
	.powerscreen-features-list
		width 900px
		position relative
		background-size 100%
		margin-top 4rem
		.features-list-l
			list-style none
			li 
				margin .3rem 0
				&:first-child
					width 93%
		.features-list-r
			list-style none

	hr 
		border-top 2px solid #444

	.bio-container
		background url('../images/bio-bg.png') no-repeat
		background-size 100%
		background-position -129px 0
		width 100%
		height 326px 
		position absolute
		top 125rem
		z-index 1

	.bio-line 
		position relative
		top 158rem
		border-top 2px solid #444
		margin 0 auto
		width 69%

	.power-products-container
		margin-top 30rem
		height 792px
		position relative
		padding 2rem 0
		background rgba(255,255,255,.25)

	.thumbnail 
		border 0
		background transparent
		.product-title
			font-size 1.5rem
			font-weight bold
		.product-description 
			font-size 1.2rem
			line-height 2px
		.btn-product-buy 
			border-radius 0
			background black
			border 0
			border-bottom 4px solid rgb(204,204,51)
			text-transform uppercase
			padding .3rem 1.5rem
			font-size 1.5rem
			&:hover 
				background lighten(rgb(0,0,0,0), 20%)


	.footer-power
		background $footer-bg
		margin-top 1rem
		padding 0 2.9rem
		line-height 4.5rem
		position absolute 
		width 100%
		height 55px
		font-size 1.3rem
		p 
			color $text-color-light 
		a
			color $text-color-light 
			display block
			width 100%
			height 40px
			&:hover 
				color $text-color-light 
			
		.brand-footer
			position relative
			top -2.5rem
	.power-subtitle-demo, .power-subtitle-product
		font-style italic
		font-weight bold
		
	.thumblnail-power 
		img 
			height 40% 
			width 40%
			margin 1rem auto 0 auto
			display block 

@media screen and (min-width 1440px) and (max-width 1899px) and (min-height 900px)
	.bio-line 
		width 62%

@media screen and (min-width 1900px) and (max-width 2559px) and (min-height 900px)
	.powerscreen-container 
		height 86rem 
		background-position 0 70%
	.powerscreen-features-container 
		height 216rem
	.powerscreen-features 
		top 58rem 
		
	.powerscreen-advise
		top 63rem
		
	.bio-container 
		height 47rem 
		top 148rem
		
	.bio-line
		width 46% 
		top 194rem
		
	.power-products-container
		margin-top 44rem

@media screen and (min-width 2560px) and (min-height 1400px)
	.powerscreen-container 
		height 86rem 
		background-position 0 70%
	.powerscreen-features-container 
		height 216rem
	.powerscreen-features 
		top 58rem 
		
	.powerscreen-advise
		top 63rem
		
	.bio-container 
		height 47rem 
		top 148rem
		
	.bio-line
		width 46% 
		top 194rem
		
	.power-products-container
		margin-top 44rem
//Generic styles for Netbook 12"
/*@media screen and (min-width 1024px) and (min-height 768px)
	.power-item 
		top 28.55rem
	.ekcos-item 
		top 28.1rem */
































