.trufresh-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.trufresh-container
	background url('../images/tru-back.jpg') no-repeat
	background-size 100%
	background-position 0 14%
	position relative
	with 100%
	height 41.5rem

.trufresh-features-strong
	position relative
	background #cc3
	background-size 100% 100%
	top 4rem
	width 900px
	padding 0.6rem 0 0 0
	
.trufresh-features-container 
	background url("../images/power-bg.jpg")
	background-size 100% 101%
	background-position 0 -2px
	position relative
	height 253rem
	top -4rem

.trufresh-title 
	margin-bottom 20px


.trufresh-main-features
	border-top 2px solid #444
	border-bottom 2px solid #444
	top 7rem
	position relative
	padding 1.2rem 0 0 0

.trufresh-z
	text-transform uppercase
	font-size 1.5rem
	font-weight bold
	line-height 15px
	
.trufresh-features-fluid
	height 234px 
	width 100%
	position relative
	top 11rem
	background rgba(255,255,255,.4)
	padding 4rem 0

.trufresh-features-requirements
	position: relative;
	background: #cc3;
	background-size: 100% 100%;
	top: 15rem;
	width: 900px;
	
.trufresh-benefits 
	position relative
	background rgba(34,31,31,.3)
	/*background rgb(204,204,51)*/
	background-size 100% 100%
	top 18rem
	width 900px
	padding .6rem 0 0 0 
	
.trufresh-benefits-list 
	list-style none

.trufresh-benefits-l
	padding 2rem 0
	
.trufresh-benefits-p-container
	border-left 2px solid #444
	padding 2rem 0
	.eztrap-benefits-p
		line-height 17px

.trufresh-plumbing-fluid 
	top 20rem
	height 360px
	width 100%
	position relative
	background rgba(255,255,255,.4)
	padding 2rem 0

.img-trufresh
	position relative 
	top 20rem
	img 
		margin 0 auto 

.trufresh-img-perfect
	position relative 
	top 5rem 
	img 
		margin 0 auto 
.trufresh-products-container
	margin-top 23rem
	height 1042px
	position relative
	padding 2rem 0
	background rgba(255,255,255,0.25)

.trufresh-products-container.container img
	margin 0 auto 
	width 220px
	display block
.footer-tru 
	background #000
	margin-top 1rem
	padding 0 2.9rem
	line-height 4.5rem
	position absolute
	width 100%
	height 55px
	font-size 1.3rem
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
		&:hover 
			color $text-color-light 
	.brand-footer
		position relative
		top -2.5rem

@media screen and (min-width 200px) and (max-width 350px)
	.trufresh-container
		background-size 420% 
		height 51.5rem 
		background-position 53% 0
	.trufresh-features-strong
		width 100%
	.trufresh-main-features
		width 100%
	.container-ez
		width 100%
	.trufresh-features-fluid
		height 10rem 
		width 100% 
		top 11rem 
		padding 2rem 
	.col-md-tru-1, .col-md-tru-2, .col-md-tru-3
		display inline-block 
		vertical-align top 
		width 32%
		padding 0
		margin 0
	.trufresh-features-requirements, .trufresh-benefits
		width 100%
	
	.trufresh-plumbing-fluid 
		height 188px
	.tru-img
		display inline-block 
		vertical-align middle 
		width 32%
		padding 0
		margin 0
		
	.img-trufresh 
		width 100% 
		top 21.5rem 
		
	.trufresh-products-container
		width 100%
		height 770px
	.tru-thumb
		width 32% 
		display inline-block 
		vertical-align middle 
		padding 0 
		margin 0
		
	.thumbnail
		width 100%
		
	.thumbnail .product-title
		font-size 1.2rem 
		width 100% 
		height 4rem 
		margin 0 auto
		
	.trufresh-img-perfect 
		width 100%
		
	.trufresh-features-container 
		height 206rem 


@media screen and (min-width 351px) and (max-width 400px)
	.trufresh-container
		background-size 400% 
		height 51.5rem 
		background-position 53% 130%
	.trufresh-features-strong
		width 100%
	.trufresh-main-features
		width 100%
	.container-ez
		width 100%
	.trufresh-features-fluid
		height 10rem 
		width 100% 
		top 11rem 
		padding 2rem 
	.col-md-tru-1, .col-md-tru-2, .col-md-tru-3
		display inline-block 
		vertical-align top 
		width 32%
		padding 0
		margin 0
	.trufresh-features-requirements, .trufresh-benefits
		width 100%
	
	.trufresh-plumbing-fluid 
		height 188px
	.tru-img
		display inline-block 
		vertical-align middle 
		width 32%
		padding 0
		margin 0
		
	.img-trufresh 
		width 100% 
		top 21.5rem 
		
	.trufresh-products-container
		width 100%
		height 770px
	.tru-thumb
		width 32% 
		display inline-block 
		vertical-align middle 
		padding 0 
		margin 0
		
	.thumbnail
		width 100%
		
	.thumbnail .product-title
		font-size 1.2rem 
		width 100% 
		height 4rem 
		margin 0 auto
		
	.trufresh-img-perfect 
		width 100%
		
	.trufresh-features-container 
		height 206rem 
@media screen and (min-width 400px) and (max-width 480px)
	.trufresh-container
		background-size 400% 
		height 51.5rem 
		background-position 53% 130%
	.trufresh-features-strong
		width 100%
	.trufresh-main-features
		width 100%
	.container-ez
		width 100%
	.trufresh-features-fluid
		height 10rem 
		width 100% 
		top 11rem 
		padding 2rem 
	.col-md-tru-1, .col-md-tru-2, .col-md-tru-3
		display inline-block 
		vertical-align top 
		width 32%
		padding 0
		margin 0
	.trufresh-features-requirements, .trufresh-benefits
		width 100%
	
	.trufresh-plumbing-fluid 
		height 188px
	.tru-img
		display inline-block 
		vertical-align middle 
		width 32%
		padding 0
		margin 0
		
	.img-trufresh 
		width 100% 
		top 21.5rem 
		
	.trufresh-products-container
		width 100%
		height 770px
	.tru-thumb
		width 32% 
		display inline-block 
		vertical-align middle 
		padding 0 
		margin 0
		
	.thumbnail
		width 100%
		
	.thumbnail .product-title
		font-size 1.2rem 
		width 100% 
		height 4rem 
		margin 0 auto
		
	.trufresh-img-perfect 
		width 100%
		
	.trufresh-features-container 
		height 206rem 
//Generic styles for Netbook 10"
@media screen and (min-width 481px) and (max-width 600px)
	.trufresh-container
		background-position 0 45%
		
	.trufresh-wrapper
		height auto
		width 100%
		position relative
		top 5rem

	.trufresh-container
		background url('../images/tru-back.jpg') no-repeat
		background-size 100%
		background-position 0 14%
		position relative
		with 100%
		height 41.5rem

	.trufresh-features-strong
		position relative
		background #cc3
		background-size 100% 100%
		top 4rem
		width 900px
		padding 0.6rem 0 0 0
		
	.trufresh-features-container 
		background url("../images/power-bg.jpg")
		background-size 100% 101%
		background-position 0 -2px
		position relative
		height 253rem
		top -4rem

	.trufresh-title 
		margin-bottom 20px


	.trufresh-main-features
		border-top 2px solid #444
		border-bottom 2px solid #444
		top 7rem
		position relative
		padding 1.2rem 0 0 0

	.trufresh-z
		text-transform uppercase
		font-size 1.5rem
		font-weight bold
		line-height 15px
		
	.trufresh-features-fluid
		height 234px 
		width 100%
		position relative
		top 11rem
		background rgba(255,255,255,.4)
		padding 4rem 0

	.trufresh-features-requirements
		position: relative;
		background: #cc3;
		background-size: 100% 100%;
		top: 15rem;
		width: 900px;
		
	.trufresh-benefits 
		position relative
		background rgba(34,31,31,.3)
		/*background rgb(204,204,51)*/
		background-size 100% 100%
		top 18rem
		width 900px
		padding .6rem 0 0 0 
		
	.trufresh-benefits-list 
		list-style none

	.trufresh-benefits-l
		padding 2rem 0
		
	.trufresh-benefits-p-container
		border-left 2px solid #444
		padding 2rem 0
		.eztrap-benefits-p
			line-height 17px

	.trufresh-plumbing-fluid 
		top 20rem
		height 360px
		width 100%
		position relative
		background rgba(255,255,255,.4)
		padding 2rem 0

	.img-trufresh
		position relative 
		top 20rem
		img 
			margin 0 auto 

	.trufresh-img-perfect
		position relative 
		top 5rem 
		img 
			margin 0 auto 
	.trufresh-products-container
		margin-top 23rem
		height 1042px
		position relative
		padding 2rem 0
		background rgba(255,255,255,0.25)

	.trufresh-products-container.container img
		margin 0 auto 
		width 220px
		display block
	.footer-tru 
		background #000
		margin-top 1rem
		padding 0 2.9rem
		line-height 4.5rem
		position absolute
		width 100%
		height 55px
		font-size 1.3rem
		p 
			color $text-color-light 
		a
			color $text-color-light 
			display block
			width 100%
			height 40px
			&:hover 
				color $text-color-light 
		.brand-footer
			position relative
			top -2.5rem

@media screen and (min-width 601px) and (max-width 980px)
	.trufresh-container
		background-position 0 45%
		
	.trufresh-wrapper
		height auto
		width 100%
		position relative
		top 5rem
		
	.col-md-tru-1, .col-md-tru-2, .col-md-tru-3
		display inline-block 
		vertical-align top 
		width 32%
		padding 0
		margin 0

	.trufresh-container
		background url('../images/tru-back.jpg') no-repeat
		background-size 160%
		background-position 50% 15%
		position relative
		with 100%
		height 41.5rem

	.trufresh-features-strong
		position relative
		background #cc3
		background-size 100% 100%
		top 4rem
		width 100%
		padding 0.6rem 0 0 0
		
	.trufresh-features-container 
		background url("../images/power-bg.jpg")
		background-size 100% 101%
		background-position 0 -2px
		position relative
		height 253rem
		top -4rem

	.trufresh-title 
		margin-bottom 20px


	.trufresh-main-features
		border-top 2px solid #444
		border-bottom 2px solid #444
		top 7rem
		position relative
		padding 1.2rem 0 0 0
		width 100%

	.trufresh-z
		text-transform uppercase
		font-size 1.5rem
		font-weight bold
		line-height 15px
		
	.trufresh-features-fluid
		height 234px 
		width 100%
		position relative
		top 11rem
		background rgba(255,255,255,.4)
		padding 4rem 0

	.trufresh-features-requirements
		position: relative;
		background: #cc3;
		background-size: 100% 100%;
		top: 15rem;
		width: 900px;
		
	.trufresh-benefits 
		position relative
		background rgba(34,31,31,.3)
		/*background rgb(204,204,51)*/
		background-size 100% 100%
		top 18rem
		width 900px
		padding .6rem 0 0 0 
		
	.trufresh-benefits-list 
		list-style none

	.trufresh-benefits-l
		padding 2rem 0
		
	.trufresh-benefits-p-container
		border-left 2px solid #444
		padding 2rem 0
		.eztrap-benefits-p
			line-height 17px

	.trufresh-plumbing-fluid 
		top 20rem
		height 360px
		width 100%
		position relative
		background rgba(255,255,255,.4)
		padding 2rem 0

	.img-trufresh
		position relative 
		top 20rem
		img 
			margin 0 auto 

	.trufresh-img-perfect
		position relative 
		top 5rem 
		img 
			margin 0 auto 
	.trufresh-products-container
		margin-top 23rem
		height 1042px
		position relative
		padding 2rem 0
		background rgba(255,255,255,0.25)

	.trufresh-products-container.container img
		margin 0 auto 
		width 220px
		display block
	.footer-tru 
		background #000
		margin-top 1rem
		padding 0 2.9rem
		line-height 4.5rem
		position absolute
		width 100%
		height 55px
		font-size 1.3rem
		p 
			color $text-color-light 
		a
			color $text-color-light 
			display block
			width 100%
			height 40px
			&:hover 
				color $text-color-light 
		.brand-footer
			position relative
			top -2.5rem
	
	.container-ez 
		width 100%
		
	.trufresh-features-requirements
		width 100%
		
	.trufresh-benefits 
		position relative
		background rgba(34,31,31,.3)
		/*background rgb(204,204,51)*/
		background-size 100% 100%
		top 18rem
		width 100%
		padding .6rem 0 0 0 
		
	.trufresh-benefits-list 
		list-style none

	.trufresh-benefits-l
		padding 2rem 0
		display inline-block
		vertical-align top 
		
	.trufresh-benefits-p-container
		border-left 2px solid #444
		padding 2rem 0
		display inline-block 
		vertical-align top 
		.eztrap-benefits-p
			line-height 17px
	
	.tru-img
		display inline-block 
		vertical-align middle 
		width 32%
		padding 0
		margin 0
		
	.img-trufresh 
		width 100% 
		top 21.5rem 
		
	.trufresh-products-container
		width 100%
		height 960px
	.tru-thumb
		width 32% 
		display inline-block 
		vertical-align middle 
		padding 0 
		margin 0
		
	.thumbnail
		width 100%
		
	.thumbnail .product-title
		font-size 1.2rem 
		width 100% 
		height 4rem 
		margin 0 auto
		
	.trufresh-img-perfect 
		width 100%
		top 5rem
		
	.trufresh-features-container 
		height 250rem 

@media screen and (min-width 1024px) and (min-height 600px)
	.trufresh-container 
		background-size 100%
		
@media screen and (min-width 1200px) and (min-height 600px)
	.trufresh-container 
		background-size 100%
		background-position 0 -55px
		height 44rem


@media screen and (min-width 1400px) and (min-height 600px)
	.trufresh-container 
		background-size 100%
		background-position 0 14px
		height 58rem


@media screen and (min-width 1500px) and (min-height 600px)
	.trufresh-container 
		background-size 100%
		background-position 0 -66px
		height 58rem

@media screen and (min-width 1900px) and (min-height 900px)
	.trufresh-container
		background-position 0 -100px
		height 60rem
	

@media screen and (min-width 1900px) and (min-height 900px)
	.trufresh-container
		height 83rem 



































