$body-color = #D6E0C1
$font-active-color = rgb(204,204,51)
$ekcoscreen-bg-item = rgb(204,204,51)
$font-size  = 16px
$text-color = #000
$text-color-light = #fff
$documentation-bg = #000
$footer-bg = #d1d5cd

$menu-light = rgba(217,220,218,.9) 
$menu-dark  = rgba(34,31,31,.3)
$navbar-submenu = rgba(195, 202, 81, 1)
$navbar-submenu_shadow = #C6CC8D

$carousel-title-color = rgba(61,58,58,1)
$carousel-content-color = rgba(78,76,77,.9)
$carousel-line = rgba(34,31,31,.3)
$navbar-line = #E7E8E8

$font-family = 'gandhi', Arial, Verdana