.modal-body 
	padding 14px

.row-power-gallery-mobile
	display none 


.modal-content 
	background rgb(208,208,208) /* Old browsers */
	background -moz-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,208,208,.3)), color-stop(56%,rgba(224,224,223,.84)), color-stop(100%,rgba(254,255,255,.91))) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%)/* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* IE10+ */
	background linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%)
	/*background url('../images/modalPower.png')*/
	border-radius 0
	height 84rem
	background-repeat no-repeat
	/*width 806px*/
	width 947px
	margin 0 auto
	top 2rem 
	padding-left 0
	margin-left -18rem

li.flip-item.flip-current 
	box-shadow 0 0 73px rgba(255, 255, 255, 1)

.modal-header, .modal-footer
	border-bottom 0
	
.modal-content-eckos 
	background rgb(208,208,208) /* Old browsers */
	background -moz-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,208,208,.3)), color-stop(56%,rgba(224,224,223,.84)), color-stop(100%,rgba(254,255,255,.91))) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%)/* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%) /* IE10+ */
	background linear-gradient(to bottom, rgba(208, 208, 208, 0.3) 0%, rgba(224, 224, 223, 0.84) 56%, rgba(254, 255, 255, 0.91) 100%)
	/*background url('../images/modalPower.png')*/
	background-size 100%
	border-radius 0
	height 84rem
	background-repeat no-repeat
	width 947px
	top 2rem 
	margin 0 auto
	padding-left 0
	margin-left -18rem
	
.modal-content-ez
	background rgba(0,0,0,1)
	/*background url('../images/eztrap-modal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-tru
	background rgba(0,0,0,1)
	/*background url('../images/truModal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-title 
	text-transform uppercase
	color #000
	font-weight bold 
	position relative 
	margin 0 0 1rem 0
	left 0 
	font-size 1.3rem 
	padding .6rem 0
	letter-spacing 1px
	text-align center
	background $font-active-color
	span 
		text-transform none 

.ic-ekcos::after, .ic-power
	right 1rem

.it-ekcos::after, .ic-ekcos::after, .ig-ekcos::after, .it-ez::after 
	content ""
	display inline-block
	position absolute
	height 27px
	width 40px
	top .25rem
	right 1rem
	background url("../images/sprite-modal.png")
	background-repeat no-repeat
	background-position -6px -14px
	background-size 345%

.ez-c01 
	background url("../images/Ez-Trap-Docs/ez-c01.png")
	background-repeat no-repeat
	background-size: 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Ez-Trap-Docs/ez-c01_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1);
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto
	
.ez-c02 
	background url("../images/Ez-Trap-Docs/ez-c02.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/Ez-Trap-Docs/ez-c02_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.ez-c03
	background url("../images/Ez-Trap-Docs/ez-c03.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/Ez-Trap-Docs/ez-c03_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto
		
.ez-c04
	background url("../images/Ez-Trap-Docs/ez-c05.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/ez-c04_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.row-ez-d, .row-ez-c
	display inline-block
	vertical-align top
	width 45%
	border 1px solid #cc3
	margin 0 2.3%
	padding 0 0 5rem 0

.ez-t01
	background url("../images/Ez-Trap-Docs/ez-t01.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/Ez-Trap-Docs/ez-t01_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.ez-t02
	background url("../images/Ez-Trap-Docs/ez-t02.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Ez-Trap-Docs/ez-t02_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1);
		display block
		width 100%
		height 140px
		margin 0 auto

.tru-c01 
	background url("../images/Trufresh/tru-c01.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition: .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/Trufresh/tru-c01_hover.png")
		background-repeat no-repeat
		background-size: 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.tru-c02
	background url("../images/Trufresh/tru-c02.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Trufresh/tru-c02_hover.png")
		background-repeat: no-repeat
		background-size: 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto
		
.tru-c03
	background url("../images/Trufresh/tru-c03.jpg")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Trufresh/tru-c03_hover.png")
		background-repeat: no-repeat
		background-size: 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.tru-t01
	background url("../images/Trufresh/tru-t01.jpg")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover 
		background url("../images/Trufresh/tru-t01_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1);
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.tru-t02
	background: url("../images/Trufresh/tru-t02.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Trufresh/tru-t02_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition: .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto
		
.tru-t03
	background: url("../images/Trufresh/tru-t03.jpg")
	background-repeat no-repeat
	background-size 100%
	width 100%
	height 140px
	display block
	margin 0 auto
	transition .4s ease-in
	-webkit-transition .4s ease-in
	-moz-transition .4s ease-in
	-ms-transition .4s ease-in
	&:hover
		background url("../images/Trufresh/tru-t03_hover.png")
		background-repeat no-repeat
		background-size 100%
		transition .2s ease-in
		-webkit-transition: .2s ease-in
		-moz-transition .2s ease-in
		-ms-transition .2s ease-in
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		-webkit-transform scale(1.1)
		-ms-transform scale(1.1)
		-moz-transform scale(1.1)
		transform scale(1.1)
		display block
		width 100%
		height 140px
		margin 0 auto

.row-power
	display inline-block 
	vertical-align top 
	width 45%
	border 1px solid $font-active-color 
	margin 0 2.3%
	padding 0 0 1.3rem 0
	
.row-ekcos-d, .row-ekcos-c  
	display inline-block 
	vertical-align top 
	width 30%
	border 1px solid $font-active-color 
	margin 0 2.3%
	padding 0 0 1.3rem 0
	
.row-ekcos-d
	width 60% 

.row-power-gallery, .row-eckos-gallery
	width 95.4%
	margin 3rem auto 1rem auto
	border 1px solid $font-active-color  
	height 45rem
	
.covers 
	width 98% !important
	margin-left 1% !important 
	
.power-d a, .ekcos-i a .ekcos-d a  
	margin 0 auto
	display block
	
.coverflow-p
	width 100%
	
.flipster 
	width 98% !important
	
.power-d01
	background: url("../images/power-com01.png");
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		content ""
		background url('../images/power-com01_hover.jpg')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		

.ic-ekcos01
	background: url("../images/ic-ekcos01.png");
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		content ""
		background url('../images/ic-ekcos01_hover.png')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;

.ic-ekcos02
	background: url("../images/ic-ekcos02.png");
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		content ""
		background url('../images/ic-ekcos02_hover.png')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.ic-ekcos03
	background: url("../images/ic-ekcos03.png");
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		content ""
		background url('../images/ic-ekcos03_hover.png')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
.power-t01 
	background url('../images/power-t01.jpg')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover01.jpg')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		width: 100%
		height: 140px;
		margin: 0 auto;
		
.power-t02
	background url('../images/power-t02.jpg')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover02.jpg')
		background-repeat: no-repeat;
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.power-t03
	background url('../images/power-t03.jpg')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover03.jpg')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.power-t04
	background url('../images/power-t04.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover04.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.power-t05
	background url('../images/power-t05.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover05.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.power-t06
	background url('../images/power-t06.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/power-t_hover06.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;

.it-ekcos01
	background url('../images/it-ekcos01.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos01_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-ekcos02
	background url('../images/it-ekcos02.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos02_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-ekcos03
	background url('../images/it-ekcos03.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos03_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-ekcos04
	background url('../images/it-ekcos04.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos04_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-ekcos05
	background url('../images/it-ekcos05.png')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos05_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-ekcos06
	background url('../images/it-ekcos06.jpg')
	background-repeat no-repeat 
	background-size 100%
	width 100% 
	height 140px 
	display block 
	margin 0 auto
	transition .4s ease-in 
	-webkit-transition .4s ease-in 
	-moz-transition .4s ease-in 
	-ms-transition .4s ease-in 
	&:hover 
		background url('../images/it-ekcos07_hover.png')
		background-repeat: no-repeat
		background-size 100%
		transition .2s ease-in 
		-webkit-transition .2s ease-in 
		-moz-transition .2s ease-in 
		-ms-transition .2s ease-in 
		-webkit-transform scale(1.1)
		-moz-transform scale(1.1)
		-ms-transform scale(1.1)
		transform scale(1.1)
		display: block;
		max-width: 100%
		height: 140px;
		margin: 0 auto;
		
.it-power::after,.ic-power::after, .ig-power::after
	content ""
	display inline-block 
	position absolute 
	height 27px 
	width 40px 
	top .65rem
	right 1rem  
	background url('../images/sprite-modal.png')
	background-repeat no-repeat 
	background-position -6px -10px
	background-size 364%
	
.it-power::after
	background-position -105px -10px
	right 2rem 
	
.ig-power::after
	background-position -57px -10px
	right 30rem 
	
.title-ig 
	color #444
	margin 2rem 0
	
.ekcos-d 
	padding 5px 
	padding-bottom 0 
	height 111px
	
.row-ez-d, .row-ez-c
	display inline-block
	vertical-align top
	width 60%
	border 1px solid #cc3
	margin 0 2.3%
	padding 0 0 5rem 0
	
.row-ez-d 
	width 30%

			
@media screen and (min-width 200px) and (max-width 600px) and (min-height 480px)
	.modal-content 
		width 100% !important
		margin-left 0 !important
		height 210rem !important
	.modal-title 
		text-align center
	.docs-img, .img-responsive
		margin 0 auto
		
	.power-m
		display inline-block 
		vertical-align middle 
		width 48%
		margin .5rem 0 
		padding 0
	
	.ek-m, .ek-it, .ez-d, .ez-img, .tru-d
		display inline-block 
		vertical-align middle 
		width 48% 
		margin .5rem 0
		padding 0
		margin .5rem auto .5rem auto
	.ez-img, .tru-img 
		width 32%
	
	.ek-content
		height 250.5rem !important 
		
	.modal-content-ez 
		height: 132rem !important;
		
	.modal-content-tru 
		height 132rem !important
		

@media screen and (min-width 1024px) and (max-width 1279px) 
	.navbar-default .navbar-nav li:last-child
		left -1.4rem 
		width 190px
		top: -7px
		
	.navbar-default .navbar-nav li:last-child > a > img
		top 11px 
		left 10.6rem
	
	.navbar-default .navbar-nav li:first-child
		margin-left 25rem
		
	.navbar-default .navbar-nav li > .item-menu
		padding 0 1.2rem
		
	.navbar-products li > a
		padding .5rem 1.5rem .5rem 1.5rem 
	
	.navbar-products li:last-child 
		width 17rem
		right -13px
		

@media screen and (min-width 320px) and (max-width 1023px)
	.row-ekcos-d, .row-ekcos-c, .row-ez-c, .row-ez-d, .row-power
		width 100%
		margin: 0px 2.3% 15px 0.3%;
		height 100%

		
	.power-d01
		width 33%
		height: 100%;
		
	.modal-title
		font-size 1rem 
		
	.it-power::after
		top 0
	.power-t01, .power-t02, .power-t03,.power-t04, .power-t05, .power-t06,
	.it-ekcos01, .it-ekcos02, .it-ekcos03, .it-ekcos04, .it-ekcos05, .it-ekcos06, 
	.tru-c01, .tru-c02, .tru-c03, .tru-t01, .tru-t02, .tru-t03
		width 100%
		margin 0
		
	.row-ez-d, .row-ez-c
		padding 0 0 1rem 0 !important
	.ekcos-t-mobile, .ekcos-d-mobile
		display: inline-block;
		vertical-align middle
		width: 32%;
		padding 3px 
		height 14rem 
		
	.ic-power::after
		top 0
	
	.modal-content 
		width 100% !important
		margin 0 auto !important 
		height 120rem !important
		
	.row-power-gallery
		display none 
		
	.row-power-gallery-mobile 
		display block 
		
	.ig-power::after
		top 0 
		right 3rem 
		
	.ekcos-d
		height 140px 
		
	.it-ez::after
		background-position: -105px -10px !important

	.it-ekcos::after 
		background-position: -105px -10px !important
		
	.close 
		float right !important 
		font-size 30px !important 
		font-weight bold 
		line-height 1
		color #fff 
		text-shadow 0 1px 0 #fff 
		filter unquote('alpha(opacity=' + 90 + ')') !important 
		opacity .9 !important 
		&:hover 
			color #fff 
			text-shadow 0 1px 0 #fff 